<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="localhostSQLEXPRESSBCI_Database_V2A2013" connectionString="XpoProvider=MSSqlServer;data source=localhost\SQLEXPRESS;user id=hector;password=root;initial catalog=BCI_Database_V2A2013;Persist Security Info=true" />
    </connectionStrings>
</configuration>